USE [Payables]
GO
/****** Object:  StoredProcedure [dbo].[spDeleteVendor]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteVendor]
	(@VendorID int,
	 @Name varchar(50),
	 @Address1 varchar(50),
	 @Address2 varchar(50),
	 @City varchar(50),
	 @State char(2),
	 @ZipCode varchar(20),
	 @Phone varchar(10),
	 @ContactLName varchar(50),
	 @ContactFName varchar(50),
	 @DefaultTermsID int,
	 @DefaultAccountNo int)
AS
	DELETE Vendors
	WHERE VendorID = @VendorID
	  AND Name = @Name
	  AND Address1 = @Address1
	  AND (Address2 = @Address2
	   OR  Address2 IS NULL AND @Address2 IS NULL)
	  AND City = @City
	  AND State = @State
	  AND ZipCode = @ZipCode
	  AND Phone = @Phone
	  AND ContactLName = @ContactLName
	  AND ContactFName = @ContactFName
	  AND DefaultTermsID = @DefaultTermsID
	  AND DefaultAccountNo = @DefaultAccountNo
	
	RETURN @@ROWCount



GO
/****** Object:  StoredProcedure [dbo].[spGetInvoicesDue]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetInvoicesDue]
AS

	SELECT * FROM Invoices
	WHERE InvoiceTotal - PaymentTotal - CreditTotal > 0
	
	RETURN


GO
/****** Object:  StoredProcedure [dbo].[spGetVendor]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetVendor]
	(@VendorID int)
AS
	SELECT * FROM Vendors
	WHERE VendorID = @VendorID
	
	RETURN


GO
/****** Object:  StoredProcedure [dbo].[spGetVendorAddress]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetVendorAddress]
	(@VendorID int)
AS
	SELECT VendorID, Name, Address1, Address2, City, State, ZipCode
	FROM Vendors
	WHERE VendorID = @VendorID
	
	RETURN


GO
/****** Object:  StoredProcedure [dbo].[spInsertVendor]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsertVendor]
	(@VendorID int OUTPUT,
	 @Name varchar(50),
	 @Address1 varchar(50),
	 @Address2 varchar(50),
	 @City varchar(50),
	 @State char(2),
	 @ZipCode varchar(20),
	 @Phone varchar(10),
	 @ContactLName varchar(50),
	 @ContactFName varchar(50),
	 @DefaultTermsID int,
	 @DefaultAccountNo int)
AS
	INSERT INTO Vendors
	    (Name, Address1, Address2, City, State, ZipCode, Phone,
	     ContactLName, ContactFName, DefaultTermsID, DefaultAccountNo)
	VALUES
	    (@Name, @Address1, @Address2, @City, @State, @ZipCode, @Phone,
	     @ContactLName, @ContactFName, @DefaultTermsID, @DefaultAccountNo)
	     
    SELECT @VendorID = IDENT_CURRENT('Vendors')
	     
	RETURN


GO
/****** Object:  StoredProcedure [dbo].[spUpdateVendor]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateVendor]
	(@Name varchar(50),
	 @Address1 varchar(50),
	 @Address2 varchar(50),
	 @City varchar(50),
	 @State char(2),
	 @ZipCode varchar(20),
	 @Phone varchar(10),
	 @ContactLName varchar(50),
	 @ContactFName varchar(50),
	 @DefaultTermsID int,
	 @DefaultAccountNo int,
	 @original_VendorID int,
	 @original_Name varchar(50),
	 @original_Address1 varchar(50),
	 @original_Address2 varchar(50),
	 @original_City varchar(50),
	 @original_State char(2),
	 @original_ZipCode varchar(20),
	 @original_Phone varchar(10),
	 @original_ContactLName varchar(50),
	 @original_ContactFName varchar(50),
	 @original_DefaultTermsID int,
	 @original_DefaultAccountNo int)
AS
	UPDATE Vendors
	   SET Name = @Name,
	       Address1 = @Address1,
	       Address2 = @Address2,
	       City = @City,
	       State = @State,
	       ZipCode = @ZipCode,
	       Phone = @Phone,
	       ContactLName = @ContactLName,
	       ContactFName = @ContactFName,
	       DefaultTermsID = @DefaultTermsID,
	       DefaultAccountNo = @DefaultAccountNo
	WHERE VendorID = @original_VendorID
	  AND Name = @original_Name
	  AND Address1 = @original_Address1
	  AND (Address2 = @original_Address2
	   OR  Address2 IS NULL AND @original_Address2 IS NULL)
	  AND City = @original_City
	  AND State = @original_State
	  AND ZipCode = @original_ZipCode
	  AND Phone = @original_Phone
	  AND ContactLName = @original_ContactLName
	  AND ContactFName = @original_ContactFName
	  AND DefaultTermsID = @original_DefaultTermsID
	  AND DefaultAccountNo = @original_DefaultAccountNo
	
	RETURN @@ROWCOUNT


GO
/****** Object:  StoredProcedure [dbo].[spVendorBalance]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spVendorBalance]
	(@VendorID int)
AS
	SELECT SUM(InvoiceTotal - PaymentTotal - CreditTotal)
	FROM Invoices
	WHERE VendorID = @VendorID
	
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[spVendorInvoices]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spVendorInvoices]
	(@VendorID int)
AS
	SELECT * FROM Invoices WHERE VendorID = @VendorID
	
	RETURN

GO
/****** Object:  UserDefinedFunction [dbo].[fnVendorBalance]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnVendorBalance]
	(@VendorID int)
RETURNS decimal
BEGIN
	RETURN (SELECT SUM(InvoiceTotal - PaymentTotal - CreditTotal)
	        FROM Invoices
	        WHERE VendorID = @VendorID)
END


GO
/****** Object:  Table [dbo].[GLAccounts]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GLAccounts](
	[AccountNo] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GLAccounts] PRIMARY KEY CLUSTERED 
(
	[AccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InvoiceLineItems]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvoiceLineItems](
	[InvoiceID] [int] NOT NULL,
	[InvoiceSequence] [smallint] NOT NULL,
	[AccountNo] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[Description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_InvoiceLineItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[InvoiceSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[InvoiceDate] [smalldatetime] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
	[PaymentTotal] [money] NOT NULL,
	[CreditTotal] [money] NOT NULL,
	[TermsID] [int] NOT NULL,
	[DueDate] [smalldatetime] NOT NULL,
	[PaymentDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[States]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](20) NOT NULL,
	[FirstZipCode] [int] NOT NULL,
	[LastZipCode] [int] NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Terms](
	[TermsID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[DueDays] [smallint] NOT NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[TermsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address1] [varchar](50) NOT NULL,
	[Address2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](20) NOT NULL,
	[Phone] [varchar](10) NULL,
	[ContactLName] [varchar](50) NULL,
	[ContactFName] [varchar](50) NULL,
	[DefaultTermsID] [int] NOT NULL,
	[DefaultAccountNo] [int] NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VendorsSummary]    Script Date: 29/05/2019 2:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorsSummary](
	[VendorID] [int] NOT NULL,
	[SumOfInvoices] [money] NOT NULL,
	[LastInvoiceDate] [smalldatetime] NULL,
	[SumOfPayments] [money] NOT NULL,
	[LastPaymentDate] [smalldatetime] NULL,
	[SumOfCredits] [money] NOT NULL,
	[BalanceDue] [money] NOT NULL,
 CONSTRAINT [PK_VendorsSummary] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[GLAccounts] ([AccountNo], [Description]) VALUES (100, N'Cash')
INSERT [dbo].[GLAccounts] ([AccountNo], [Description]) VALUES (110, N'Accounts Receivable')
INSERT [dbo].[GLAccounts] ([AccountNo], [Description]) VALUES (120, N'Book Inventory')
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [InvoiceSequence], [AccountNo], [Amount], [Description]) VALUES (1, 1, 553, 3813.3300, N'Freight')
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [InvoiceSequence], [AccountNo], [Amount], [Description]) VALUES (2, 1, 553, 40.2000, N'Freight')
INSERT [dbo].[InvoiceLineItems] ([InvoiceID], [InvoiceSequence], [AccountNo], [Amount], [Description]) VALUES (3, 1, 553, 138.7500, N'Freight')
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [DueDate], [PaymentDate]) VALUES (1, 122, N'989319-457', CAST(0x9AB50000 AS SmallDateTime), 3813.3300, 3813.3300, 0.0000, 3, CAST(0x9AD30000 AS SmallDateTime), CAST(0x9AD20000 AS SmallDateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [DueDate], [PaymentDate]) VALUES (2, 123, N'263253241', CAST(0x9AB70000 AS SmallDateTime), 40.2000, 40.2000, 0.0000, 3, CAST(0x9AD50000 AS SmallDateTime), CAST(0x9AD90000 AS SmallDateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [VendorID], [InvoiceNumber], [InvoiceDate], [InvoiceTotal], [PaymentTotal], [CreditTotal], [TermsID], [DueDate], [PaymentDate]) VALUES (3, 123, N'963253234', CAST(0x9ABA0000 AS SmallDateTime), 138.7500, 138.7500, 0.0000, 3, CAST(0x9AD80000 AS SmallDateTime), CAST(0x9AD40000 AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[Invoices] OFF
INSERT [dbo].[States] ([StateCode], [StateName], [FirstZipCode], [LastZipCode]) VALUES (N'AK', N'Alaska', 99500, 99999)
INSERT [dbo].[States] ([StateCode], [StateName], [FirstZipCode], [LastZipCode]) VALUES (N'AL', N'Alabama', 35000, 36999)
INSERT [dbo].[States] ([StateCode], [StateName], [FirstZipCode], [LastZipCode]) VALUES (N'AR', N'Arkansas', 71600, 72999)
SET IDENTITY_INSERT [dbo].[Terms] ON 

INSERT [dbo].[Terms] ([TermsID], [Description], [DueDays]) VALUES (1, N'Net due 10 days', 10)
INSERT [dbo].[Terms] ([TermsID], [Description], [DueDays]) VALUES (2, N'Net due 20 days', 20)
INSERT [dbo].[Terms] ([TermsID], [Description], [DueDays]) VALUES (3, N'Net due 30 days', 30)
SET IDENTITY_INSERT [dbo].[Terms] OFF
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorID], [Name], [Address1], [Address2], [City], [State], [ZipCode], [Phone], [ContactLName], [ContactFName], [DefaultTermsID], [DefaultAccountNo]) VALUES (1, N'US Postal Service', N'Attn:  Supt. Window Services', N'PO Box 7005', N'Madison', N'WI', N'53707', N'8005551205', N'Alberto', N'Francesco', 1, 552)
INSERT [dbo].[Vendors] ([VendorID], [Name], [Address1], [Address2], [City], [State], [ZipCode], [Phone], [ContactLName], [ContactFName], [DefaultTermsID], [DefaultAccountNo]) VALUES (2, N'National Information Data Ctr', N'PO Box 96621', NULL, N'Washington', N'DC', N'20090', N'3015558950', N'Irvin', N'Ania', 3, 540)
INSERT [dbo].[Vendors] ([VendorID], [Name], [Address1], [Address2], [City], [State], [ZipCode], [Phone], [ContactLName], [ContactFName], [DefaultTermsID], [DefaultAccountNo]) VALUES (3, N'Register of Copyrights', N'Library Of Congress', NULL, N'Washington', N'DC', N'20559', NULL, N'Liana', N'Lukas', 3, 403)
GO
SET IDENTITY_INSERT [dbo].[Vendors] OFF
INSERT [dbo].[VendorsSummary] ([VendorID], [SumOfInvoices], [LastInvoiceDate], [SumOfPayments], [LastPaymentDate], [SumOfCredits], [BalanceDue]) VALUES (34, 1200.1200, CAST(0x9AF30000 AS SmallDateTime), 1200.1200, CAST(0x9B010000 AS SmallDateTime), 0.0000, 0.0000)
INSERT [dbo].[VendorsSummary] ([VendorID], [SumOfInvoices], [LastInvoiceDate], [SumOfPayments], [LastPaymentDate], [SumOfCredits], [BalanceDue]) VALUES (37, 564.0000, CAST(0x9B280000 AS SmallDateTime), 564.0000, CAST(0x9BBD0000 AS SmallDateTime), 0.0000, 0.0000)
INSERT [dbo].[VendorsSummary] ([VendorID], [SumOfInvoices], [LastInvoiceDate], [SumOfPayments], [LastPaymentDate], [SumOfCredits], [BalanceDue]) VALUES (48, 856.9200, CAST(0x9ACE0000 AS SmallDateTime), 856.9200, CAST(0x9AE90000 AS SmallDateTime), 0.0000, 0.0000)
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_PaymentTotal]  DEFAULT ((0)) FOR [PaymentTotal]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_CreditTotal]  DEFAULT ((0)) FOR [CreditTotal]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_DefaultTermsID]  DEFAULT ((3)) FOR [DefaultTermsID]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_DefaultAccountNo]  DEFAULT ((570)) FOR [DefaultAccountNo]
GO
ALTER TABLE [dbo].[VendorsSummary] ADD  CONSTRAINT [DF_VendorsSummary_SumOfInvoices]  DEFAULT ((0)) FOR [SumOfInvoices]
GO
ALTER TABLE [dbo].[VendorsSummary] ADD  CONSTRAINT [DF_VendorsSummary_SumOfPayments]  DEFAULT ((0)) FOR [SumOfPayments]
GO
ALTER TABLE [dbo].[VendorsSummary] ADD  CONSTRAINT [DF_VendorsSummary_SumOfCredits]  DEFAULT ((0)) FOR [SumOfCredits]
GO
ALTER TABLE [dbo].[VendorsSummary] ADD  CONSTRAINT [DF_VendorsSummary_BalanceDue]  DEFAULT ((0)) FOR [BalanceDue]
GO
ALTER TABLE [dbo].[InvoiceLineItems]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceLineItems_GLAccounts] FOREIGN KEY([AccountNo])
REFERENCES [dbo].[GLAccounts] ([AccountNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InvoiceLineItems] CHECK CONSTRAINT [FK_InvoiceLineItems_GLAccounts]
GO
ALTER TABLE [dbo].[InvoiceLineItems]  WITH NOCHECK ADD  CONSTRAINT [FK_InvoiceLineItems_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceLineItems] CHECK CONSTRAINT [FK_InvoiceLineItems_Invoices]
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Terms] FOREIGN KEY([TermsID])
REFERENCES [dbo].[Terms] ([TermsID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Terms]
GO
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Vendors] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendors] ([VendorID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Vendors]
GO
ALTER TABLE [dbo].[Vendors]  WITH NOCHECK ADD  CONSTRAINT [FK_Vendors_GLAccounts] FOREIGN KEY([DefaultAccountNo])
REFERENCES [dbo].[GLAccounts] ([AccountNo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_Vendors_GLAccounts]
GO
ALTER TABLE [dbo].[Vendors]  WITH NOCHECK ADD  CONSTRAINT [FK_Vendors_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_Vendors_States]
GO
ALTER TABLE [dbo].[Vendors]  WITH NOCHECK ADD  CONSTRAINT [FK_Vendors_Terms] FOREIGN KEY([DefaultTermsID])
REFERENCES [dbo].[Terms] ([TermsID])
GO
ALTER TABLE [dbo].[Vendors] CHECK CONSTRAINT [FK_Vendors_Terms]
GO
ALTER TABLE [dbo].[VendorsSummary]  WITH CHECK ADD  CONSTRAINT [FK_VendorsSummary_Vendors] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendors] ([VendorID])
GO
ALTER TABLE [dbo].[VendorsSummary] CHECK CONSTRAINT [FK_VendorsSummary_Vendors]
GO
